@inherits ComponentBase

<tr @onclick="() => GoToDetails(Ticket.TicketId)">
    <td class="text-center text-muted">@Ticket.TicketId.ToString()</td>
    <td class="table-description" title="@Ticket.Description">
        @Ticket.Description
    </td>
    <td class="text-center">@Ticket.Status.ToString()</td>
    <td class="text-center">@Ticket.DateCreated.ToString("yyyy-MM-dd HH:mm")</td>
    <td class="text-center">@Ticket.DateUpdated.ToString("yyyy-MM-dd HH:mm")</td>
    <td class="text-center">@Ticket.Customer?.DisplayName</td>
    <td class="text-center">
        <a class="text-reset" role="button" href="tickets/@Ticket.TicketId/edit">
            <i class="far fa-edit me-2"></i>
        </a>
        <a class="text-reset" role="button" href="tickets/@Ticket.TicketId/delete">
            <i class="far fa-trash-alt"></i>
        </a>
    </td>
</tr>

@code {
    [Parameter]
    public TicketModel Ticket { get; set; }

    protected override void OnInitialized()
    {
        if (Ticket == null)
            return;
    }

    private void GoToDetails(int id)
        => navigationManager.NavigateTo($"/tickets/{id}");
}
