@inherits ComponentBase

<tr>
    <td title="@Ticket.TicketId.ToString()" class="font-monospace">@_shortenedId...</td>
    <td class="table-description">
        @Ticket.Description
    </td>
    <td class="text-center">@Ticket.Status.ToString()</td>
    <td class="text-center">@Ticket.DateCreated.ToString("yyyy-MM-dd HH:mm")</td>
    <td class="text-center">@Ticket.DateUpdated.ToString("yyyy-MM-dd HH:mm")</td>
    <td class="text-center">@_assignedAdmin?.DisplayName</td>
    <td>
        <i class="far fa-edit me-2"></i>
        <i class="far fa-trash-alt"></i>
    </td>
</tr>

@code {
    [Parameter]
    public TicketModel Ticket { get; set; }

    private AdminViewModel _assignedAdmin;
    private string _shortenedId;
    private string _adminUrl = "https://localhost:44330/api/admin";

    protected override async Task OnInitializedAsync()
    {
        if (Ticket == null) return;

        _shortenedId = Ticket.TicketId.ToString().Substring(0, 8);

        if (Ticket.AssignedAdminId != null)
        {
            _adminUrl += $"/{Ticket.AssignedAdminId.ToString()}";
            var response = await apiService.SendToAPIAsync(HttpMethod.Get, _adminUrl, auth: true);
            if (response.IsSuccessStatusCode)
                _assignedAdmin = await response.Content.ReadFromJsonAsync<AdminViewModel>();
            else
                _assignedAdmin = new AdminViewModel { DisplayName = "Error Error" };
        }
    }
}
