<tr @onclick="() => GoToDetails(Ticket.TicketId)">
    <td class="text-muted">@Ticket.TicketId.ToString()</td>
    <td class="ticket-description" title="@Ticket.Description">
        @Ticket.Description
    </td>
    <td>@Ticket.Status.ToString()</td>
    <td class="ticket-date">@Ticket.DateCreated.ToString("yyyy-MM-dd HH:mm")</td>
    <td class="ticket-date">@Ticket.DateUpdated.ToString("yyyy-MM-dd HH:mm")</td>
    <td title="@Ticket.Customer?.DisplayName">
        @Ticket.Customer?.DisplayName
    </td>
    <td class="actions">
        <a role="button" href="tickets/@Ticket.TicketId/edit">
            <span class="oi oi-pencil"></span>
        </a>
        <a role="button" href="tickets/@Ticket.TicketId/delete">
            <span class="oi oi-trash"></span>
        </a>
    </td>
</tr>

@code {
    [Parameter]
    public TicketViewModel Ticket { get; set; }

    protected override void OnInitialized()
    {
        if (Ticket == null)
            return;
    }

    private void GoToDetails(int id)
        => navigationManager.NavigateTo($"/tickets/{id}");
}